# Python 
__pycache__/ 
*.py[cod] 
*$py.class 
*.so 
.Python 
env/ 
venv/ 
.venv/ 
ENV/ 
.streamlit/ 
.vscode/ 
.idea/ 
.DS_Store 
Thumbs.db 
*.log 
logs/ 
wordlists/ 
*.txt 
*.csv 
*.json 
temp/ 
tmp/ 
*.tmp 
temp.py 
